/* Css of the general app */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Philosopher');

.app {
    max-width: 1580px;
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.20em;
}

header {
    float:left;
    width: 100%;
    background-color: #ede8e8;
}

header h1 {
    font-family: 'Philosopher', sans-serif;
    float: left;
    width: 60%;
    margin-left: 1%;
    margin-bottom: 1%;
}

header h1 a {
    text-decoration: none; 
    color: #a41e27;
    font-size: 1.8em;
}

.nav_header {
    float: right;
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav_header .link {
    float: right;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0% 4%;
    padding: .5em;
}

.nav_header .link:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 2px black;
}

/* Css of Home Page */

.home_image {
    clear:both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -4px;
    max-width: 1100px;
}

.welcome {
    color: black; 
    background-color: #ede8e8;
    padding: 1em 5em;
    min-width: 200px;
}

.welcome h3 {
    text-align: center;
    font-size: 2em;
}

.welcome p {
    text-align: center;
    font-size: 1.3em;
}

.home_button_link {
    display: block;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    width: 150px;
    font-size: 1em;
    margin: 2em auto;
    padding: .5em;
    text-align: center; 
}

.feature_a {
    display:block;
    color: black; 
    background-color: white;
    min-width: 200px;
    padding: 1em 5em;
    text-align: center;
}

.feature_b {
    display:block;
    color: black; 
    background-color: #ede8e8;
    min-width: 200px;
    padding: 1em 5em;
    text-align: center;
}

/* Css of Login and Register Page */

.data_form_wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.data_form {
    padding-top: 3em;
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
}

.title_form {
    font-size: 1.8em;
    color: #a41e27;
}

.label_input {
    display: block;
    margin-top: 10%;
    font-size: 1.5em;
    color: black;
}

.form_input {
    display: block;
    margin: 5% auto;
    width: 80%;
    height: 30px;
    border: solid 1px #a41e27;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #a41e27;
}

.button_submit {
    margin: 10% 0;
    border: solid 1px #a41e27;
    background-color: #a41e27;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    width: 50%;
    height: 30px;
    font-size: 1em;

}

.button_submit:hover, .button_link:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 1.5px black;
}

.connect_account {
    margin-top: 8%;
}

.connect_account p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.button_link {
    display: block;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    width: 30%;
    font-size: 1em;
    margin: 4% auto;
    padding: 1.5%;
    
}

/* Css for Cellar Page */
.welcome_user {
    float: left;
    margin-right: 5%;
    margin-left: 1%;
    margin-top: 2.5%;
    font-size: 1.3em;
}

.user_name {
    font-style: italic;
}

.search_form {
    float:left;
    margin: 2.8% 1%;
    width: 28%;
    min-width: 400px;
}

.search_box {
    height: 30px;
    border: solid 1px #a41e27;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #a41e27;
    margin-right: 1%;
}

#grid, #square {
    float: left;
    margin: 2.5% 2%;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 15px;
}

#grid:hover, #square:hover {
    border: solid 2px black;
    box-shadow: 1px 1px 6px black;
}

.option_button_submit {
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    font-size: 1em;
    padding: 1.5%;
}

.add_wine_button {
    float: left;
    margin: 2% 2%;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    font-size: 1em;
    padding: 20px;
}

.add_button {
    float: right;
    margin: 1%;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    font-size: .7em;
    padding: 15px;
}

.inbox_button {
    float: left;
    margin: 2% 1%;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    font-size: 1em;
    padding: 20px;
}

.option_button_submit:hover, .inbox_button:hover, .add_wine_button:hover, .add_button:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 1.5px black;
}

.empty_cellar {
    clear: both;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

.container {
    clear: both;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
  }

#left_arrow {
    float: left;
    margin: 300px 200px 300px 150px;
    border: 2px solid #000000;
    border-radius: 30px;
}

#right_arrow {
    float: left;
    margin: 300px 200px;
    border: 2px solid #000000;
    border-radius: 30px;
}

#left_arrow:hover, #right_arrow:hover {
    border: inset 2px black;
    box-shadow: 1px 1px 6px #a41e27;
}
  
.card {
    width: 25%;
    min-width: 380px;
    float: left;
    background: white;
    margin: 20px;
    padding: 20px;
    border-top: 1px solid #a41e27;
    border-bottom: 1px solid #a41e27;
    border-radius: 20px;
    box-shadow: 0 2px 0 #a41e27;
  }

.page_title {
    font-size: 1.75em;
    font-family: 'Philosopher', sans-serif;
  }

.form_input_friend {
    z-index: 1;
    width: 320px;
    margin-left: 450px;
    padding: 10px;

    border-top: 2px solid #a41e27;
    border-radius: 10px;
    margin-bottom: -175px;
}

.form_input_friend .form_input {
    width: 300px;
    padding-left: 10px;
    margin-bottom: 12px;
}

.form_input_friend .add_button {
    padding: 5px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 85px;
}

.popup_l {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
}

.popup_r {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: .7em;
}

.popup .show, .popup_l .show, .popup_r .show  {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Css for mobile version */

@media only screen and (max-width: 960px) {
    header {
        float:left;
        width: 100%;
        background-color: #ede8e8;
    }
    
    header h1 {
        width: 99%;
        text-align: center;
    }
    
    header h1 a {
        text-decoration: none; 
        color: #a41e27;
        font-size: 1.4em;
    }
    
    .nav_header {
        width: 99%;
    }

    .nav_header p {
        float: right;
        display: block;
        width: 110px;
        margin: 20px 50px 20px 50px;
    }
    
    .nav_header a {
        border: solid 1px #a41e27;
        border-radius: 20px;
        background-color: #a41e27;
        color: white;
        box-shadow: 1px 1px 6px black;
        text-decoration: none;
        font-size: 1.5em;
        padding: .5em;

    }    
  }


