/* Css of the general app */

.app {
    font-family: Helvetica, sans-serif;
}

header {
    float:left;
    width: 100%;
    background-color: #ede8e8;
}

header h1 {
    float: left;
    width: 60%;
    margin-left: 1%;
    margin-bottom: 1%;
}

header h1 a {
    text-decoration: none; 
    color: #a41e27;
    font-size: 2em;
}

.nav_header {
    float: right;
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav_header .link {
    float: right;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0% 4%;
    padding: .5em;
}

.nav_header .link:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 2px black;
}

/* Css of Home Page */

.home_image {
    clear:both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -4px;
    max-width: 1100px;
}

.welcome {
    color: black; 
    background-color: #ede8e8;
    padding: 1em 5em;
    min-width: 200px;
}

.welcome h3 {
    text-align: center;
    font-size: 2em;
}

.welcome p {
    text-align: center;
    font-size: 1.5em;
}

.home_button_link {
    display: block;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    width: 150px;
    font-size: 1em;
    margin: 2em auto;
    padding: .5em;
    text-align: center; 
}

.feature_a {
    display:block;
    color: black; 
    background-color: white;
    min-width: 200px;
    padding: 1em 5em;
    text-align: center;
}

.feature_b {
    display:block;
    color: black; 
    background-color: #ede8e8;
    min-width: 200px;
    padding: 1em 5em;
    text-align: center;
}

/* Css of Login and Register Page */

.data_form_wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.data_form {
    padding-top: 3em;
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
}

.title_form {
    font-size: 1.8em;
    color: #a41e27;
}

.label_input {
    display: block;
    margin-top: 10%;
    font-size: 1.5em;
    color: black;
}

.form_input {
    display: block;
    margin: 5% auto;
    width: 80%;
    height: 30px;
    border: solid 1px #a41e27;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #a41e27;
}

.button_submit {
    margin: 10% 0;
    border: solid 1px #a41e27;
    background-color: #a41e27;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    width: 50%;
    height: 30px;
    font-size: 1em;

}

.button_submit:hover, .button_link:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 1.5px black;
}

.connect_account {
    margin-top: 8%;
}

.connect_account p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.button_link {
    display: block;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    width: 30%;
    font-size: 1em;
    margin: 4% auto;
    padding: 1.5%;
    
}

/* Css for Cellar Page */
.welcome_user {
    float: left;
    margin-right: 5%;
    margin-left: 1%;
    margin-top: 2.5%;
    font-size: 1.3em;
}

.user_name {
    font-style: italic;
}

.search_form {
    float:left;
    margin: 2% 1%;
    width: 30%;
    min-width: 600px;
}

.search_box {
    height: 30px;
    border: solid 1px #a41e27;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #a41e27;
    margin-right: 1%;
}

.select_options {
    height: 30px;
    border: solid 1px #a41e27;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #a41e27;
    margin-right: 2%;
}

.option_button_submit {
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    font-size: 1em;
    padding: 1.5%;
}

.sort {
    display: block;
    float: left;
    margin: 2% 1%;
    width: 15%;
}

.sort .sort_title {
    float: left;
}
.sort .select_options {
    float: left;
    margin: 3% 2% 2% 3%;
}

.inbox_button {
    float: left;
    margin: 2% 1%;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    font-size: 1em;
    padding: 1.2%;
}

.option_button_submit:hover, .inbox_button:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 1.5px black;
}

.empty_cellar {
    clear: both;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 1.1em auto;
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  .card {
    box-sizing: border-box;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  }

/* Css for mobile version */

@media only screen and (max-width: 960px) {
    header {
        float:left;
        width: 100%;
        background-color: #ede8e8;
    }
    
    header h1 {
        width: 99%;
        text-align: center;
    }
    
    header h1 a {
        text-decoration: none; 
        color: #a41e27;
        font-size: 1.4em;
    }
    
    .nav_header {
        width: 99%;
    }

    .nav_header p {
        float: right;
        display: block;
        width: 110px;
        margin: 20px 50px 20px 50px;
    }
    
    .nav_header a {
        border: solid 1px #a41e27;
        border-radius: 20px;
        background-color: #a41e27;
        color: white;
        box-shadow: 1px 1px 6px black;
        text-decoration: none;
        font-size: 1.5em;
        padding: .5em;

    }    
  }


