.app {
    font-family: Helvetica, sans-serif;
}

header {
    display: block;
    float:left;
    width: 100%;
    background-color: #ede8e8;
}

header a {
    display: block;
    float:left;
    text-decoration: none; 
    color: #a41e27;
    margin-left: .5em;
    margin-top: .2em;
    font-size: 1.5em;
}

.nav_menu {
    display: block;
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

.link {
    display: inline;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    font-size: 1.5em;
    margin: .5em;
    padding: .5em;
}

.link:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 2px black;
}

#home_image {
    clear:both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-height: 644px;
    max-width: 1100px;
}

.welcome {
    display:block;
    color: black; 
    background-color: #ede8e8;
    padding: 1em 5em;
    min-width: 200px;
}

.welcome h3 {
    text-align: center;
    font-size: 2em;
}

.welcome p {
    text-align: center;
    font-size: 1.5em;
}

.home_button_link {
    display: block;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    width: 150px;
    font-size: 1em;
    margin: 2em auto;
    padding: .5em;
    text-align: center;
    
}

.feature {
    display:block;
    color: black; 
    background-color: white;
    min-width: 200px;
    padding: 1em 5em;
    text-align: center;
}

.data_form_wrapper {
    clear: both;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.data_form {
    display: block;
    padding-top: 3em;
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
}

.title_form {
    font-size: 1.8em;
    color: #a41e27;
}

.label_input {
    display: block;
    margin-top: 1em;
    font-size: 1.5em;
    color: black;
}

.form_input {
    display: block;
    margin: 1em auto;
    width: 80%;
    height: 30px;
    border: solid 1px #a41e27;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #a41e27;
}

.button_submit {
    margin: 1.5em 0em;
    border: solid 1px #a41e27;
    background-color: #a41e27;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    width: 50%;
    height: 30px;
    font-size: 1em;

}

.button_submit:hover, .button_link:hover {
    background-color:  #a41e27;
    color: white;
    border: inset 1.5px black;
}

.connect_account {
    margin-top: 2em;
}

.connect_account p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.button_link {
    display: block;
    border: solid 1px #a41e27;
    border-radius: 20px;
    background-color: #a41e27;
    color: white;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    width: 30%;
    font-size: 1em;
    margin: 2em auto;
    padding: .5em;
    
}