.App-header {
  text-align: center;
  background-color: black;
  color: white;
 }
 
 body {
   background-color: bisque;
 }
 
 .App-hp-body-leftcolumn {
   float:left;
   width:50%;
 }
 
 .App-hp-body-leftcolumn img {
     
 }
 
 .App-hp-body-rightcolumn {
   float:right;
   width:50%;
 }
 
 .App-hp-body-info {
   float:left;
 }